# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# ASP.NET Core
appsettings.Development.json
